<Project>

  <PropertyGroup>
    <PublishSingleFile>true</PublishSingleFile>
    <PublishSelfContained>false</PublishSelfContained>
    <PublishAot>true</PublishAot>
    <PublishTrimmed>true</PublishTrimmed>

    <PublishReadyToRunShowWarnings>true</PublishReadyToRunShowWarnings>
    <TrimmerSingleWarn>true</TrimmerSingleWarn>
  </PropertyGroup>

</Project>
